Connected Services/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HR_TrainingVO" />
  <xs:element name="GetAllTrainingProgress">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTrainingProgressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetAllTrainingProgressResult" nillable="true" type="q1:ArrayOfTrainingProgressVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrainingProgress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="trainingProgress" nillable="true" type="q2:TrainingProgressVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrainingProgressResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTrainingProgress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="trainingProgress" nillable="true" type="q3:TrainingProgressVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTrainingProgressResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetUserLogInResult" nillable="true" type="q4:UserVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetAllUserResult" nillable="true" type="q5:ArrayOfUserVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetActiveUserResult" nillable="true" type="q6:ArrayOfUserVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="UserVO" nillable="true" type="q7:UserVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="UserVO" nillable="true" type="q8:UserVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserEmployeeLogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserEmployeeLogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetUserEmployeeLogInResult" nillable="true" type="q9:UserEmployeeVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserEmployee">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetAllUserEmployeeResult" nillable="true" type="q10:ArrayOfUserEmployeeVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveUserEmployee">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveUserEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetActiveUserEmployeeResult" nillable="true" type="q11:ArrayOfUserEmployeeVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="UserEmployeeVO" nillable="true" type="q12:UserEmployeeVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="UserEmployeeVO" nillable="true" type="q13:UserEmployeeVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewBillNo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewBillNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewBillNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBill">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetAllBillResult" nillable="true" type="q14:ArrayOfBillVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillByCompanyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillByCompanyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetBillByCompanyIDResult" nillable="true" type="q15:BillVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBillAndCompanyCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="bill" nillable="true" type="q16:BillVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBillAndCompanyCourseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBillList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="billList" nillable="true" type="q17:ArrayOfBillVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBillListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBillList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="billList" nillable="true" type="q18:ArrayOfBillVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBillListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="bill" nillable="true" type="q19:BillVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBillResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="bill" nillable="true" type="q20:BillVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBillResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompany">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetAllCompanyResult" nillable="true" type="q21:ArrayOfCompanyVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="company" nillable="true" type="q22:CompanyVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompanyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="company" nillable="true" type="q23:CompanyVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCompanyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCourse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetAllCourseResult" nillable="true" type="q24:ArrayOfCourseVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCourseByCompanyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCourseByCompanyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetAllCourseByCompanyIDResult" nillable="true" type="q25:ArrayOfCourseVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="course" nillable="true" type="q26:CourseVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCourseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="course" nillable="true" type="q27:CourseVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCourseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCourseByEmployeeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCourseByEmployeeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetAllCourseByEmployeeIDResult" nillable="true" type="q28:ArrayOfCourseVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCourseTopicStory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCourseTopicStoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetAllCourseTopicStoryResult" nillable="true" type="q29:ArrayOfCourseTopicStoryVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourseTopicStoryByCourseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourseTopicStoryByCourseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetCourseTopicStoryByCourseIDResult" nillable="true" type="q30:ArrayOfCourseTopicStoryVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCourseTopicStory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="course" nillable="true" type="q31:CourseTopicStoryVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCourseTopicStoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCourseTopicStory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="course" nillable="true" type="q32:CourseTopicStoryVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCourseTopicStoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetAllDepartmentResult" nillable="true" type="q33:ArrayOfDepartmentVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveDepartment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetActiveDepartmentResult" nillable="true" type="q34:ArrayOfDepartmentVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="department" nillable="true" type="q35:DepartmentVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDepartmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="departmentVO" nillable="true" type="q36:DepartmentVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDepartmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDepartmentCodeExit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="departmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDepartmentCodeExitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsDepartmentCodeExitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDepartmentNameExit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="departmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDepartmentNameExitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsDepartmentNameExitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeLogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeNameEng" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeLogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="EmployeeLogInResult" nillable="true" type="q37:EmployeeVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployee">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetAllEmployeeResult" nillable="true" type="q38:ArrayOfEmployeeVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveEmployee">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetActiveEmployeeResult" nillable="true" type="q39:ArrayOfEmployeeVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveEmployeeByDepartmentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveEmployeeByDepartmentIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetActiveEmployeeByDepartmentIDResult" nillable="true" type="q40:ArrayOfEmployeeVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveEmployeeByCompanyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveEmployeeByCompanyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetActiveEmployeeByCompanyIDResult" nillable="true" type="q41:ArrayOfEmployeeVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByEmployeeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByEmployeeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetEmployeeByEmployeeIDResult" nillable="true" type="q42:EmployeeVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="employee" nillable="true" type="q43:EmployeeVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="employeeVO" nillable="true" type="q44:EmployeeVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEmployeeCodeExit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employeeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEmployeeCodeExitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsEmployeeCodeExitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployeeCourse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployeeCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetAllEmployeeCourseResult" nillable="true" type="q45:ArrayOfEmployeeCourseVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeCourseByEmployeeIDandCourseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeID" type="xs:int" />
        <xs:element minOccurs="0" name="courseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeCourseByEmployeeIDandCourseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetEmployeeCourseByEmployeeIDandCourseIDResult" nillable="true" type="q46:ArrayOfEmployeeCourseVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeCourseByEmployeeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeCourseByEmployeeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetEmployeeCourseByEmployeeIDResult" nillable="true" type="q47:ArrayOfEmployeeCourseVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeCourseByCourseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeCourseByCourseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetEmployeeCourseByCourseIDResult" nillable="true" type="q48:ArrayOfEmployeeCourseVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeCourseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="empCourseList" nillable="true" type="q49:ArrayOfEmployeeCourseVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeCourseListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEmployeeCourseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="empCourseList" nillable="true" type="q50:ArrayOfEmployeeCourseVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEmployeeCourseListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="employeeCourse" nillable="true" type="q51:EmployeeCourseVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeCourseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEmployeeCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="employeeCourseVO" nillable="true" type="q52:EmployeeCourseVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEmployeeCourseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProgressTransaction">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProgressTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetAllProgressTransactionResult" nillable="true" type="q53:ArrayOfProgressTransactionVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProgressTransactionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="transList" nillable="true" type="q54:ArrayOfProgressTransactionVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProgressTransactionListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProgressTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="progressTransaction" nillable="true" type="q55:ProgressTransactionVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProgressTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProgressTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="progressTransaction" nillable="true" type="q56:ProgressTransactionVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProgressTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQuestion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetAllQuestionResult" nillable="true" type="q57:ArrayOfQuestionVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQuestionByStoryID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQuestionByStoryIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetAllQuestionByStoryIDResult" nillable="true" type="q58:ArrayOfQuestionVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="question" nillable="true" type="q59:QuestionVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="question" nillable="true" type="q60:QuestionVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetAllStoryResult" nillable="true" type="q61:ArrayOfStoryVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStoriesByTopicID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="topicID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStoriesByTopicIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetAllStoriesByTopicIDResult" nillable="true" type="q62:ArrayOfStoryVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="story" nillable="true" type="q63:StoryVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="story" nillable="true" type="q64:StoryVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTitle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetAllTitleResult" nillable="true" type="q65:ArrayOfTitleVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveTitle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetActiveTitleResult" nillable="true" type="q66:ArrayOfTitleVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="title" nillable="true" type="q67:TitleVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTitleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="title" nillable="true" type="q68:TitleVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTitleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTitleCodeExit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="titleCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tilteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTitleCodeExitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsTitleCodeExitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTitleNameExit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="titleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tilteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTitleNameExitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsTitleNameExitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTopic">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTopicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="GetAllTopicResult" nillable="true" type="q69:ArrayOfTopicVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTopic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="topic" nillable="true" type="q70:TopicVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTopicResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTopic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/HR_TrainingVO" minOccurs="0" name="topic" nillable="true" type="q71:TopicVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTopicResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>